 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
 <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav list-group">
        <li class="list-group-item">
                <a [routerLink]="['/']">
                    <i class="fa fa-fw fa-file"></i>月度报表</a>
            </li>
        <li class="list-group-item">
            <a [routerLink]="['/stat']">
                <i class="fa fa-fw fa-file"></i>账户数据</a>
        </li>
        <li class="list-group-item">
            <a [routerLink]="['/history']">
                <i class="fa fa-fw fa-file"></i>历史查询</a>
        </li>
      <li class="list-group-item">
          <a href="javascript:;" data-toggle="collapse" data-target="#demo" 
          class="" aria-expanded="true">
        
          <i class="fa fa-fw fa-arrows-v">
          </i> 财务变更 <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="list-group collapse in" aria-expanded="true">
              <li class="list-group-item">
                  <a [routerLink]="['./input/propinput']">财务收入</a>
              </li>
              <li class="list-group-item">
                  <a [routerLink]="['./input/propoutput']">财务支出</a>
              </li>
              <li class="list-group-item">
                <a [routerLink]="['./input/propreorg']">财务重组</a>
              </li>
          </ul>
      </li>
    
  </ul> 
</div>
