<div class="formContainer">
<form name="searchForm" role="form">
    <div class="form-group">
        <label for="productCategory">收入来源:</label>
        <select id="productCategory" class="form-control"></select>
      </div>
    <div class="form-group">
      <label for="productPrice">金额:</label>
      <input type="number" id="productPrice" placeholder="商品价格" class="form-control">
    </div>
    <div class="form-group">
      <label for="productCategory">目的账户:</label>
      <select id="productCategory" class="form-control"></select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-block">提交</button>
    </div>
  </form>
</div>