<div class="homeContainer">
    <table class="table table-striped">
        <caption><h4>资产表</h4></caption>
        <thead>
          <tr>
            <th>项目</th>
            <th>余额</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prop of props | async">
            <td>{{prop.itemName}}</td>
            <td>{{prop.itemBalance}}元</td>
           </tr>
        </tbody>
        <tfoot align="right">
          <td></td>
          <td><h4>合计:{{propTotal|async}}元&nbsp;&nbsp;</h4></td>
        </tfoot>
      </table>
</div>